html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.logo {
  height: 1.5em;
  margin-right: 2em;
}

.topContainer {
  align-items: center;
  background-color: #303030;
  color: white;
  display: flex;
  flex-flow: row;
  font-size: 3em;
  font-family: sans-serif;
  justify-content: space-between;
  letter-spacing: 0.25em;
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.addAndDoneButtons {
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

.customAddIcon,
.customDoneIcon {
  font-size: 1em;
}

.customAddButton {
  color: #3c8c30 !important;
  border-color: #3c8c30 !important;
  transition: 0.3s !important;
}

.customAddButton:hover {
  background-color: #3c8c30 !important;
  color: white !important;
  border-color: #3c8c30 !important;
}
.customDoneButton {
  color: #d96704 !important;
  border-color: #d96704 !important;
  transition: 0.3s !important;
}

.customDoneButton:hover {
  color: white !important;
  border-color: #d96704 !important;
  background-color: #d96704 !important;
}

.totalAlert {
  background-color: white;
  border: 0.1em solid #303030;
  color: #303030;
  font-family: sans-serif;
  font-size: 1.5em;
  border-radius: 0.25em;
  padding: 0.5em;
}

.shopAndCustomerDetails {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: -1;
  position: relative;
}

.shopDetails {
  font-family: sans-serif;
  line-height: 1.5em;
  padding: 0.5em;
}

.customerDetails {
  font-family: sans-serif;
  line-height: 1.5em;
  padding: 0.5em;
  font-weight: bold;
}

.detailsTitle {
  color: #c5c5c5;
  font-size: 1.5em;
  font-weight: normal;
}

.shopMainDetails {
  font-weight: bolder;
}

.monetaryValue {
  text-align: right;
}

.billingSection {
  font-size: 1.5em;
  padding: 2em;
  padding-bottom: 3em;
}

@media (max-width: 675px) {
  .logo {
    height: 1.5em;
    margin-right: 1em;
  }

  .topContainer {
    font-size: 1.5em;
    letter-spacing: 0.125em;
    padding: 0.25em;
  }

  .shopAndCustomerDetails {
    margin: 1em;
  }

  .shopDetails {
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 0.5em;
  }

  .customerDetails {
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 0.5em;
  }

  .customAddIcon,
  .customDoneIcon {
    font-size: 0.5em;
  }

  .detailsTitle {
    font-size: 1em;
  }

  .billingSection {
    padding: 1em;
    font-size: 0.75em;
  }

  .totalAlert {
    font-size: 0.75em;
    border-radius: 0.25em;
    padding: 0.5em;
  }
}

@media print {
  .topContainer {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    
  }

  .addAndDoneButtons {
    display: none;
  }

  .billingSection {
    padding-bottom: 0;
  }
}
