body {
  margin: 0%;
  padding: 0%;
  border: 0%;
}

.logo {
  height: 1.5em;
}

.topContainer {
  align-items: center;
  background-color: #303030;
  color: white;
  display: flex;
  font-size: 3em;
  font-family: sans-serif;
  justify-content: space-between;
  letter-spacing: 0.25em;
  padding: 0.5em;
  padding-right: 2em;
  position: sticky;
}

.shopAndCustomerDetails {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.shopDetails {
  font-family: sans-serif;
  line-height: 1.5em;
  padding: 0.5em;
}

.customerDetails {
  font-family: sans-serif;
  line-height: 1.5em;
  padding: 0.5em;
  font-weight: bold;
}

.detailsTitle {
  color: #c5c5c5;
  font-size: 1.5em;
  font-weight: normal;
}

.shopMainDetails {
  font-weight: bolder;
}

.customisedCard {
  margin: 2em;
}

.monetaryValue {
  text-align: right;
}
