html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.logo {
  height: 1.5em;
  margin-right: 2em;
}

.topContainer {
  align-items: center;
  background-color: #303030;
  color: white;
  display: flex;
  flex-flow: row;
  font-size: 3em;
  font-family: sans-serif;
  justify-content: space-between;
  letter-spacing: 0.25em;
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.shopAndCustomerDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em;
}

.shopDetails {
  font-family: sans-serif;
  line-height: 1.5em;
  padding: 0.5em;
}

.customerDetails {
  font-family: sans-serif;
  line-height: 1.5em;
  padding: 0.5em;
  font-weight: bold;
}

.detailsTitle {
  color: #c5c5c5;
  font-size: 1.5em;
  font-weight: normal;
}

.shopMainDetails {
  font-weight: bolder;
}

.customisedCard {
  margin: 2em;
}

.monetaryValue {
  text-align: right;
}
.billingSection {
  font-size: 1.5em;
  padding: 2em;
  padding-bottom: 0%;
}

.addAndDoneButtons {
  padding: 2em;
  padding-top: 0%;
}

.customAddIcon,
.customDoneIcon {
  font-size: 3em;
}

.customAddButton {
  color: #3c8c30 !important;
  border-color: #3c8c30 !important;
  transition: 0.3s !important;
}

.customAddButton:hover {
  background-color: #3c8c30 !important;
  color: white !important;
  border-color: #3c8c30 !important;
}
.customDoneButton {
  color: #d96704 !important;
  border-color: #d96704 !important;
  transition: 0.3s !important;
}

.customDoneButton:hover {
  color: white !important;
  border-color: #d96704 !important;
  background-color: #d96704 !important;
}

@media (max-width: 600px) {
  .logo {
    height: 1.5em;
    margin-right: 1em;
  }

  .topContainer {
    font-size: 1.5em;
    letter-spacing: 0.125em;
    padding: 0.25em;
  }

  .shopAndCustomerDetails {
    margin: 1em;
  }

  .shopDetails {
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 0.5em;
  }

  .customerDetails {
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 0.5em;
  }

  .detailsTitle {
    font-size: 1em;
  }

  .customisedCard {
    margin: 1em;
  }

  .billingSection {
    padding: 1em;
    font-size: 0.75em;
  }
}
